{
    "propel": {
        "paths": {
            "schemaDir": "/home/nesmar/Desktop/netsuite codes/sanitarycare/db_config",
			"phpDir": "/home/nesmar/Desktop/netsuite codes/sanitarycare/db_config/models"
        }
    }
}